dialog.delete-book-dialog
    h4.w3-center Вы точно хотите удалить данную книгу?
    div.w3-center
        button.base-btn.cancel-btn.w3-hover-blue-gray Отмена
        button.base-btn.confirm-btn.w3-hover-blue-gray Да